* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.toolbar {
  margin: 3vh 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8em;
}

label {
  font-size: 1.1rem;
  margin-right: -0.3em;
}

.tool__size {
  text-align: center;
}

.tool__color {
  cursor: pointer;
}

.tool__size, .tool__color {
  width: 3.5em;
  height: 2em;
  border: 1.4px solid black;
  background-color: whitesmoke;
}

.active {
  background-color: bisque;
  box-shadow: 0 0 0 1.8px black;
}

button {
  padding: 0.8em;
  border: 1.4px solid black;
  font-size: 0.9em;
  border-radius: 50%;
}

button:hover {
  cursor: pointer;
  background-color: bisque;
}

button:active {
  box-shadow: 0 0 0 1.8px black;
}

img {
  width: 1.8em;
  height: 1.5em;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
}

#canvas {
  border-top: 2px solid black;
}